models/
yolov8n.pt
.deepface/
runs/
ncnn_model/
.uv/
.python-version
.env
build/
dist/
node_modules/
config/rules.json
config/user_memory.json
*.log
.DS_Store
memory/*.db
db.sqlite3
.db
*.pyd
*.pyo
*.pyc
__pycache__/
.venv/
